@model Admin.Models.ChangePasswordViewModel

<section class="content-header">
  <h1>
    Configurações
    <small>alterar senha</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-8">
      <div class="box box-primary">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
          @Html.AntiForgeryToken()

          <div class="box-body">

            @Html.ValidationSummary(true, "(*) Verifique todos os campos.", new { @class = "text-danger" })

            <div class="form-group validation-summary">
              <span class="text-danger">(*) Preencha os campos obrigatórios</span>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.OldPassword, new { @class = "asterisk" })
              @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control required", @placeholder = "******" })
              @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
              @Html.LabelFor(model => model.NewPassword, new { @class = "asterisk" })
              @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control required", @placeholder = "******" })
              @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
              @Html.LabelFor(model => model.ConfirmPassword, new { @class = "asterisk" })
              @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required", @placeholder = "******" })
              @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
              <input type="submit" value="Alterar senha" data-value="Alterando..." class="btn btn-success btn-flat" />
              <a class="btn btn-danger btn-flat" href="@Url.Action("Index", "Home")" role="button" title="Voltar">Voltar</a>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
<script>
  setactivemenu('#a-dash');
</script>
