@model Admin.Models.ClienteEnderecoViewModel
@{
  ViewBag.Title = "Create";
}
<section class="content-header">
  <h1>
    Cliente Pessoa-Fisica
    <small>Novo</small>
  </h1>
</section>
<script>
  
</script>
<section class="content">
  @if (ViewBag.idCliente == null)
  {
    <div class="row">
      <div class="col-lg-12">
        <div class="box box-primary">
          @using (Html.BeginForm("Create", "ClientePessoaFisica",new { botao = "addCliente" },FormMethod.Post))
          {
            <div class="box-body">
              @Html.AntiForgeryToken()
              @Html.HiddenFor(model => model.Pessoa.TipoPessoaId, new { Value = 1 })
              @Html.HiddenFor(model => model.Pessoa.PapelPessoaId, new { Value = 1 })
              <div class="form-group">
                @Html.LabelFor(model => model.Pessoa.NomeCompleto, "Nome Completo:", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Pessoa.NomeCompleto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pessoa.NomeCompleto, "", new { @class = "text-danger" })
              </div>
              <div class="form-group" id="divRG">
                @Html.LabelFor(model => model.Pessoa.RG, "RG:", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Pessoa.RG, new { htmlAttributes = new { @class = "form-control", @maxlength ="10"} })
                @Html.ValidationMessageFor(model => model.Pessoa.RG, "", new { @class = "text-danger" })
              </div>
              <div class="form-group" id="divCPF">
                @Html.LabelFor(model => model.Pessoa.CPF, "CPF:", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Pessoa.CPF, new { htmlAttributes = new { @class = "form-control cpf" } })
                @Html.ValidationMessageFor(model => model.Pessoa.CPF, "", new { @class = "text-danger" })
              </div>
              <div class="form-group" >
                @Html.LabelFor(model => model.Pessoa.DataNascimento, "Data de Nascimento:", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Pessoa.DataNascimento, new { htmlAttributes = new { @class = "form-control datas" } })
                @Html.ValidationMessageFor(model => model.Pessoa.DataNascimento, "", new { @class = "text-danger" })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Pessoa.Email, "Email:", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Pessoa.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pessoa.Email, "", new { @class = "text-danger" })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Pessoa.Telefone, "Telefone:", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Pessoa.Telefone, new { htmlAttributes = new { @class = "form-control telefone" } })
                @Html.ValidationMessageFor(model => model.Pessoa.Telefone, "", new { @class = "text-danger" })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Pessoa.Celular, "Celular:", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Pessoa.Celular, new { htmlAttributes = new { @class = "form-control telefone" } })
                @Html.ValidationMessageFor(model => model.Pessoa.Celular, "", new { @class = "text-danger" })
              </div>
              <div class="form-group">
                <div class="inline" value="Cancelar">
                <input type="submit" value="Próximo Passo" class="btn btn-default" />
                <a class="btn btn-default btn-flat" href="@Url.Action("Index", "ClientePessoaFisica")" role="button" title="Cancelar o Cadastro">Cancelar</a>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
  @if (ViewBag.idCliente > 0)
      {
    <div class="row">
      <div class="col-lg-12">
        <div class="box box-primary">
          @using (Html.BeginForm("Create", "ClientePessoaFisica", new { botao = "addEndereco" }))
        {
            @Html.AntiForgeryToken()
            <div class="box-body">
              @Html.HiddenFor(model => model.Endereco.PessoaId, new { Value = ViewBag.idCliente })
              <div class="form-group">
                @Html.LabelFor(model => model.Endereco.CEP, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Endereco.CEP, new { htmlAttributes = new { @class = "form-control", id = "cep" } })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Endereco.Estado, new { htmlAttributes = new { @class = "form-control", id = "uf" } })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Endereco.Cidade, new { htmlAttributes = new { @class = "form-control", id = "cidade" } })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control", id = "bairro" } })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Rua, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Endereco.Rua, new { htmlAttributes = new { @class = "form-control", id = "rua" } })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Endereco.Numero, new { htmlAttributes = new { @class = "form-control", id = "numero" } })
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.Endereco.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Endereco.Complemento, new { htmlAttributes = new { @class = "form-control", id = "complemento" } })
              </div>
              <div class="form-group">
                <div class="inline">
                  @*<a class="btn btn-default btn-flat" href="@Url.Action("Create", "ClientePessoaFisica", new { botao = "CancelarCadastro" })" role="button" title="Cancelar o Cadastro">Cancelar</a>*@
                  <input type="submit" value="Adicionar Endereço" class="btn btn-default" />
                  <div class="btn btn-default" value="Finalizar Cadastro" onclick="finalizarCadastro('ClientePessoaFisica')">
                    Finalizar Cadastro!
                  </div>
                </div>
                
              </div>
            </div>
            @*</div>*@
          }
        </div>
      </div>
    </div>
    <div class="box box-primary" id="divListaEnderecos" style="padding:7px">
      <div class="box-body">
        <div class="table">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>
                  Estado:
                </th>
                <th>
                  Cidade
                </th>
                <th>
                  Bairro:
                </th>
                <th>
                  CEP:
                </th>
                <th>
                  Rua:
                </th>
                <th>
                  Numero:
                </th>
                <th>
                  Complemento:
                </th>
                <th>
                  Status
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              @if (Model != null && Model.Enderecos != null)
              {
                foreach (var item in Model.Enderecos)
                {
                  if (item != null && item.Status == true)
                  {
                    <tr>
                      <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                        @Html.HiddenFor(modelItem => item.Estado)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                        @Html.HiddenFor(modelItem => item.Cidade)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Bairro)
                        @Html.HiddenFor(modelItem => item.Bairro)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.CEP)
                        @Html.HiddenFor(modelItem => item.CEP)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Rua)
                        @Html.HiddenFor(modelItem => item.Rua)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                        @Html.HiddenFor(modelItem => item.Numero)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Complemento)
                        @Html.HiddenFor(modelItem => item.Complemento)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.Status)
                        @Html.HiddenFor(modelItem => item.Status)
                      </td>
                      <td>
                        @*<a href="@Url.Action("Edit", "Enderecoes", new { id = item.Id })" title="Editar"><span class="label label-info">Editar</span></a>
                        <a href="@Url.Action("Details", "Enderecoes", new { id = item.Id })" title="Detalhes do produto"><span class="label label-warning"><i class="fa fa-unlock fa-fw"></i></span></a>*@
                        @using (Html.BeginForm("Create", "ClientePessoaFisica", new { botao = "deletarEndereco", idEndereco = item.Id }))
                        {
                          @Html.AntiForgeryToken()
                          <input type="submit" value="Deletar" class="btn btn-delete" @*href="@Url.Action("Edit", "ClientePessoaFisica", new { id = item.Id,botao="deletarEndereco" })"*@ @*data-toggle="modal" data-target="#confirmation-delete-modal"*@ title="deletar">
                        }
                      </td>
                    </tr>
                  }
                }
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  }
  <div class="modal fade" id="confirmation-delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Deletar Registro?</h4>
        </div>
        <div class="modal-body">
          Essa ação é irreversível. Deletar?
        </div>
        <div class="modal-footer">
          <form id="form-delete" method="post" novalidate="novalidate">
            @Html.AntiForgeryToken()
            <input type="submit" value="Sim" class="btn btn-success btn-flat" />
            <a href="#" class="btn btn-danger btn-flat" data-dismiss="modal">Não</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  setactivemenu('#a-clientepessoafisica');
</script>