@model IEnumerable<Entities.Tables.Pedido>

@{
  ViewBag.Title = "Index";
}



<section class="content-header">
  <h1>
    Pedido de Compra
    <a class="btn btn-default btn-flat" href="@Url.Action("Create", "PedidoCompra")" role="button" title="Novo Pedido">Novo Pedido</a>
  </h1>
</section>
@if (TempData["Success"] != null)
{
  <div class="alert alert-success alert-dismissable" data-dismiss="alert" aria-label="close">
    <strong>@TempData["Success"]</strong>
  </div>
}
@if (TempData["Error"] != null)
{
  <div class="alert alert-danger alert-dismissable" data-dismiss="alert" aria-label="close">
    <strong>@TempData["Error"]</strong>
  </div>
}
<section class="content">
  <div class="box box-primary">
    <div class="box-body">
      <div class="table">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>
                Data Pedido
              </th>
             
              <th>
                Cliente
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Quantidade)
              </th>
              <th>
                @Html.DisplayNameFor(model => model.Total)
              </th>
              <th>
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            @foreach (var item in Model)
            {
              <tr>
                <td>
                  @String.Format("{0:dd/MM/yyyy}", item.DataPedido)
                </td>
             
                <td>
                  @if (item.Pessoa != null && !string.IsNullOrEmpty(item.Pessoa.NomeCompleto))
                  {
                    @Html.DisplayFor(modelItem => item.Pessoa.NomeCompleto)
                  }
                  else
                  {
                    if (item.Pessoa != null && !string.IsNullOrEmpty(item.Pessoa.NomeFantasia))
                    {
                      @Html.DisplayFor(modelItem => item.Pessoa.NomeFantasia)
                    }
                    else
                    {
                      @Html.Label("Desconhecido")
                    }
                  }
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                  R$ @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                  @*<a href="@Url.Action("Edit", "PedidoCompra", new { id = item.Id })" title="Editar"><span class="label label-info"><i class="fa fa-pencil-square-o "></i></span></a>*@

                  <a href="@Url.Action("Details", "PedidoCompra", new { id = item.Id})" title="Detalhes"><span class="label label-warning"><i class="fa fa-info-circle"></i></span></a>

                  @*<a href="#" class="btn-delete" data-action="@Url.Action("Delete","PedidoCompra",new {id=item.Id })" data-toggle="modal" data-target="#confirmation-delete-modal" title="Deletar"><span class="label label-danger"><i class="fa fa-trash"></i></span></a>*@

                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmation-delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Deletar Registro?</h4>
        </div>
        <div class="modal-body">
          Essa ação é irreversível. Deletar?
        </div>
        <div class="modal-footer">
          <form id="form-delete" method="post" novalidate="novalidate">
            @Html.AntiForgeryToken()
            <input type="submit" value="Sim" class="btn btn-success btn-flat" />
            <a href="#" class="btn btn-danger btn-flat" data-dismiss="modal">Não</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>