<!DOCTYPE html>
<html lang="pt-br">
@Html.Partial("_Head")
<body id="@RenderSection("BodyId", false)">
  <div id="wrapper">
    @Html.Partial("_Header")
    <main id="g-main">
      @RenderBody()
    </main>
    @Html.Partial("_Footer")
  </div> <!-- g-wrapper -->
  @Html.Partial("_JS")
  @RenderSection("scripts", required: false)
</body>
</html>
