<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Winetech | ADMIN</title>

  <link rel="stylesheet" href="@Url.Content("~/Content/css/Details.css")"/>
  <!-- details view -->
  <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
  <!-- bootstrap -->
  <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/bootstrap.min.css")">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- wysihtml5 -->
  <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/bootstrap-wysihtml5.min.css")">
  <!-- datatables -->
  <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/datatables.bootstrap.min.css")">
  <!-- fileupload -->
  <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/jquery.fileupload.min.css")">
  <!-- datetimepicker -->
  <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/bootstrap-datetimepicker.min.css")">
  <!-- chosen -->
  <link rel="stylesheet" href="@Url.Content("~/Content/css/vendor/chosen/chosen.min.css")">
  <!-- custom -->
  <link rel="stylesheet" href="@Url.Content("~/Content/css/admin.min.css")">
  <!-- skins -->
  <link rel="stylesheet" href="@Url.Content("~/Content/css/skins/all-skins.min.css")">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <!-- wysihtml5 -->
  <script src="@Url.Content("~/Content/js/vendor/wysihtml5-0.3.0.min.js")"></script>
  <!-- jquery -->
  <script src="@Url.Content("~/Content/js/vendor/jquery.min.js")"></script>
  <!-- custom -->
 @* <script src="@Url.Content("~/Content/js/jquery-3.2.1.min.js")"></script>*@
  <script src="@Url.Content("~/Content/js/app.min.js")"></script>
  @*<script src="@Url.Content("~/Content/js/dashboard.min.js")"></script>*@
  <script src="@Url.Content("~/Content/js/dashboard.js")"></script>
</head>
