<!DOCTYPE html>
<html lang="pt-br">
@Html.Partial("_Head")
<body class="skin-purple layout-boxed">
  <div class="wrapper">
    @Html.Partial("_Header")
    @Html.Partial("_Sidebar")
    <div class="content-wrapper">
      @RenderBody()
    </div>
  </div>
  @Html.Partial("_JS")
  @RenderSection("scripts", required: false)
</body>
</html>