@using Admin.App_Code
@using Entities.Classes
@using Microsoft.AspNet.Identity
@{
  Layout = null;
}
<ul class="sidebar-menu">
  <li class="header" style="font-size:24px;">Áreas</li>
  @if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Users"))
  {
    <li>
      <a id="a-users" title="Usuários" href="@Url.Action("Index", "Users")"><i class="fa fa-user"></i> Usuários</a>
    </li>
  }
  @if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Roles"))
  {
    <li>
      <a id="a-roles" href="@Url.Action("Index", "Roles")"><i class="fa fa-lock"></i> Perfis</a>
    </li>
  }
  @if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Produtos"))
  {
    <li>
      <a id="a-produtos" href="@Url.Action("Index", "Produtos")"><i class="fa fa-glass"></i> Produtos</a>
    </li>
  }
  <li class="treeview">
    <a id="a-pessoas" href="@Url.Action("Index", "Pessoas")"><i class="fa fa-user"></i><span class="pull-right container"><i class="fa fa-angle-left pull-right"></i></span> Clientes</a>
    <ul class="treeview-menu">
      <li>
        @if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Cliente Pessoa Fisica"))
        {
          <a id="a-clientepessoafisica" href="@Url.Action("Index", "ClientePessoaFisica")"><i class="fa fa-user"></i> Cliente Pessoa Fisica</a>
        }
        else
        {
          <a id="a-clientepessoafisica" href="#"><i class="fa fa-user"></i> Cliente Pessoa Fisica</a>
        }
      </li>
      <li>
        @if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Cliente Pessoa Juridica"))
        {
          <a id="a-clientepessoajuridica" href="@Url.Action("Index", "ClientePessoaJuridica")"><i class="fa fa-handshake-o"></i> Cliente Pessoa Juridica</a>
        }
        else
        {
          <a id="a-clientepessoajuridica" href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i> Cliente Pessoa Juridica</a>
        }
      </li>
    </ul>
  </li>
  <li class="treeview">
    <a id="a-pessoas" href="@Url.Action("Index", "Pessoas")"><i class="fa fa-user"></i><span class="pull-right container"><i class="fa fa-angle-left pull-right"></i></span> Fornecedor</a>
    <ul class="treeview-menu">
      <li>
        @if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Fornecedor Pessoa Fisica"))
        {
          <a id="a-fornecedorpessoafisica" href="@Url.Action("Index", "FornecedorPessoaFisica")"><i class="fa fa-user"></i> Fornecedor Pessoa Física</a>
        }
        else
        {
          <a id="a-fornecedorpessoafisica" href="#"><i class="fa fa-user"></i> Fornecedor Pessoa Física</a>
        }
      </li>
      <li>
        @if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Fornecedor Pessoa Juridica"))
        {
          <a id="a-fornecedorpessoajuridica" href="@Url.Action("Index","FornecedorPessoaJuridica")"><i class="fa fa-handshake-o"></i> Fornecedor Pessoa Juridica</a>
        }
        else
        {
          <a id="a-fornecedorpessoajuridica" href="#"><i class="fa fa-handshake-o"></i> Fornecedor Pessoa Juridica</a>
        }
      </li>
    </ul>
  </li>

  @*@if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Endereco"))
    {
      <li>
        <a id="a-enderecos" href="@Url.Action("Index", "Enderecoes")"><i class="fa fa-building"></i> Endereços</a>
      </li>
    }*@
  @*@if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Pais"))
    {
      <li>
        <a id="a-paises" href="@Url.Action("Index", "Pais")"><i class="fa fa-globe"></i> Paises</a>
      </li>
    }*@
  @if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Safra"))
  {
    <li>
      <a id="a-safras" href="@Url.Action("Index", "Safras")"><i class="fa fa-calendar"></i> Safras</a>
    </li>
  }
  @if (Helper.HasCredentials(User.Identity.GetUserName(), "Index", "Pedido"))
  {

    <li class="treeview">
      <a id="a-pedidos" href="@Url.Action("Index", "Pedido")"><i class="fa fa-money"></i><span class="pull-right container"><i class="fa fa-angle-left pull-right"></i></span> Pedidos</a>
      <ul class="treeview-menu">
        <li>
          <a href="@Url.Action("Index","PedidoVenda")"><i class="fa fa-shopping-bag"></i>Pedidos de Compra</a>
        </li>
        <li>
          <a href="@Url.Action("Index","Pedido")"><i class="fa fa-shopping-cart"></i>Pedidos de Venda</a>
        </li>
      </ul>
    </li>
  }
  <li>
    <a id="a-uvas" href="@Url.Action("Index","Uvas")" ><i class="fa fa-leaf"></i> Uvas</a>
  </li>
</ul>
